@import "../../../common/variable.scss";

.square{
  font-size: 2rem;
  height: 48px;
  width: 48px;
  text-align: center;
  border: 2px solid $colorLightBlue;
  cursor: pointer;
  place-items: center;
}

#correct{
  border: none;
  background-color: rgb(3,164,100);
  animation: flip 1s linear;
}
#almost{
  border: none;
  background-color: rgb(255,213,0);
  animation: flip 1s linear;

}
#wrong{
  border: none;
  background-color: rgb(72,72,72);
  animation: flip 1s linear;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
  }
  100%{
    transform: rotateX(360deg);
  }
}