/* Color pallette */
$colorGreen: #2cffba;
$colorButtonHover: #00a06b;
$colorDarkGreen: #151924;
$colorWhite: #f9f9f9;
$colorLightBlue: #6eb9e3;

/* Font style */
$fontSm: 0.75rem;
$fontSmd: 1rem;
$fontMd: 1.15rem;
$fontLg: 1.25rem;
$fontXlg: 2.15rem;
$fontXxlg: 3.5rem;

/* Border radius */
$borderRoundedMd: 8px;
$borderRounded: 14px;

/* Font weight */
$fontMedium: 400;
$fontSemibold: 500;
$fontBold: 600;
$fontXbold: 700;

/* Font family */
$fontPoppins: "Poppins", sans-serif;